# macOS-related files
.DS_Store 
.AppleDouble 
.LSOverride
# Windows-related files 
Thumbs.db 
Thumbs.db:encryptable 
ehthumbs.db 
ehthumbs_vista.db 
[Dd]esktop.ini

*.rpyc 
*.rpyb 
*.rpymc 
*.pyc 
*.pyo

*~ 
*.bak 
*.odt#

saves 
tmp 
cache 
env 
_wfCache

log.txt 
errors.txt 
traceback.txt
Dewdrop Cafe/log.txt
Dewdrop Cafe/game/saves/persistent
Dewdrop Cafe/game/saves/navigation.json
Dewdrop Cafe/game/cache/shaders.txt
Dewdrop Cafe/traceback.txt
Dewdrop Cafe/log.txt
Dewdrop Cafe/game/saves/persistent
Dewdrop Cafe/game/saves/navigation.json
Dewdrop Cafe/game/cache/shaders.txt
*.json
*.txt
*.txt
*.json
!*.exp3.json
!*.motion3.json
!*.cdi3.json
!*.model3.json
!*physics3.json
*.save
